@use "./variables" as *;
@use "./mixins" as *;

.header {
  background: $white;

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 13px;

    @include container;
  }

  .header-nav {
    display: flex;
    gap: 10px;
  }
}
