@use "./variables" as *;
@use "./mixins" as *;
@use "./reset";

@use "./header";
@use "./button";
@use "./hero";
@use "./users";
@use "./user";

.container {
  @include container;
}
.visually-hidden {
  @include visually-hidden;
}

body {
  background: $background;
  color: $black-87;
  font-family: $font-base;
}
table {
  border-collapse: collapse;
  width: 100%;
}
figure {
  margin: 0;
}
